useDynLib(smaa)

importFrom(graphics, axis, barplot, boxplot, legend, lines, par, plot)

S3method(print, smaa.result)
S3method(plot, smaa.result)

S3method(plot, smaa.values)

S3method(print, smaa.ranks)
S3method(plot, smaa.ranks)
S3method(summary, smaa.ranks)

S3method(print, smaa.ra)
S3method(plot, smaa.ra)

S3method(print, smaa.cw)
S3method(plot, smaa.cw)

S3method(print, smaa.cf)
S3method(plot, smaa.cf)

export(smaa, smaa.values, smaa.ranks,
	smaa.ra, smaa.cw, smaa.cf, smaa.pvf,
	smaa.entropy.ranking, smaa.entropy.choice)
