useDynLib(smaa)

S3method(print, smaa.ranks)
S3method(plot, smaa.ranks)
S3method(summary, smaa.ranks)

S3method(print, smaa.ra)
S3method(plot, smaa.ra)

S3method(print, smaa.cw)
S3method(plot, smaa.cw)

S3method(plot, smaa.values)

export(smaa, smaa.values, smaa.ranks, smaa.ra, smaa.cw,
	smaa.entropy.ranking, smaa.entropy.choice)
